<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.frozen.rpicameraviewer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/camera"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/video"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
